<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li>
                <div class="text-center navbar-form">
                    <div class="btn-group navbar-btn">
                        <button
                                type="button"
                                class="btn btn-default"
                                ng-click="player.play()"
                                ng-disabled="player.activeJam == null">
                            <span class="glyphicon glyphicon-play"
                                  ng-show="!player.playing"></span>
                            <span class="glyphicon glyphicon-pause"
                                  ng-show="player.playing"></span>
                        </button>
                        <button
                                type="button"
                                class="btn btn-default"
                                ng-click="player.skip()"
                                ng-disabled="player.activeJam == null">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                    </div>
                </div>
            </li>
            <li>
                <div class="navbar-form">
                    <h4>{{ player.currentSong.title }}</h4>
                    <h5>{{ player.currentSong.artist }}</h5>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="" ng-click="player.doLogout()">Log out</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid" style="margin-top: 80px">
    <div class="row">

        <div class="col-md-3 list-group sidebar">
            <a href=""
               class="list-group-item"
               ng-repeat="jam in player.jams"
               ng-class="{active: player.activeJam == jam}">
                <span>
                    {{ jam.name }}
                </span>
                <span class="badge">
                    {{ jam.spectators }}
                </span>
            </a>
            <a href="#" class="list-group-item text-center">
                <span class="glyphicon glyphicon-plus"></span>New
            </a>
        </div>

        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>amet</td>
                            <td>consectetur</td>
                            <td>adipiscing</td>
                            <td>elit</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5">
                                <div
                                    class="well text-center"
                                    ng-file-drop="player.fileDropped($files)"
                                    ng-file-drag-over-class="">
                                    <h3 style="color: lightgray">
                                            Drag files here to enqueue.
                                    </h3>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>