@(title: String)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link
            rel="stylesheet"
            href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link
            rel="stylesheet"
            media="screen"
            href='@routes.Assets.at("stylesheets/main.css")'>
        <link
            rel="shortcut icon"
            type="image/png"
            href='@routes.Assets.at("images/favicon.png")'>
        <script
            src='@routes.Assets.at("lib/angularjs/angular.js")'></script>
        <script
            src='@routes.Assets.at("lib/angularjs/angular-route.js")'></script>
        <script
            src='@routes.Assets.at("lib/angular-file-upload/angular-file-upload.min.js")'>
        </script>
        <script
            src='@routes.Assets.at("javascripts/app.js")'></script>
    </head>
    <body>
        <div class="container">
            @content
        </div>
    </body>
</html>
